#loadPath{
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	background-color: red;
	color: white;
	padding: 10px;
	z-index: 5;
	/*width: 100%;
	height: 100%;*/
	text-align: center;
	top: 0;
	right: 0;
	
	visibility: hidden;
	opacity: 0;
}

.showLoading{
	animation: 1s fadeIn;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
	visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

#canvasHolder{
	position: relative;
}

#canvasVertices{
	position:absolute;
	top: 0;
	left: 0;
}