/*show loading map when loading*/
#loadPath{
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	background-color: red;
	color: white;
	padding: 10px;
	z-index: 4;
	/*width: 100%;
	height: 100%;*/
	text-align: center;
	top: 0;
	right: 0;
	
	visibility: hidden;
	opacity: 0;
}
.showLoading{
	animation: 1s fadeIn;
	animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
	visibility: visible;
  }
  100% {
    opacity: 1;
  }
}



/*show map info in bottom-right corner*/
#mapInfo{
	position: absolute;
	font-size: 15px;
	font-weight: bold;
	padding-right: 30px;
	padding-bottom: 30px;
	z-index: 1;
	/*width: 100%;
	height: 100%;*/
	text-align: center;
	bottom: 0;
	right: 0;
}
#mapInfo p{
	margin: 0;
}



/*For zoom slider*/
.slider-wrapper-zoom {
  display: inline-block;
  width: 20px;
  height: 100%;
  padding: 0;
  
  position: absolute;
  right: 0;
  top: 0;
  
  z-index: 6;
}
.slider-wrapper-zoom input {
  width: 100%;
  height: 100%;
  margin: 0;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
}



/*For rotation slider*/
/*For slider*/
.slider-wrapper-rotation {
  display: inline-block;
  /*width: 80%;*/
  height: 20px;
  padding: 0;
  
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 20px;
  
  z-index: 6;
}
.slider-wrapper-rotation input {
  width: 100%;
  height: 100%;
  margin: 0;
}



/*box to hold map stuff*/
#canvasHolder{
	position: relative;
	width: 100%;
}
/*bottom-layer canvas*/
#canvasEdges{
	z-index: 2;
}
/*canvas positioned on top of canvasEdges*/
#canvasVertices{
	z-index: 3;
	position:absolute;
	top: 0;
	left: 0;
}